div.content{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.form{
    background-color: white;
    padding: 20px;
    border: solid 1px black;
    border-radius: 20px;
}

.title{
    text-align: center;
}

.btn-add{
    background-color: #07a7e3;
}