.content{
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

.table-product{
    margin-bottom: 5px;
    height: 100%;
    width: 90%;
    padding: 20px 50px;
    box-sizing: border-box;
    background-color: white;
    border: solid 1px rgb(153, 153, 153);
    border-radius: 8px 8px 0px 0px;
}

.btn-add-product{
    margin-bottom: 20px;
    width: 100px;
}

.btn-new{
    background-color: #07a7e3;
    font-size: 15px;
    font-weight: 700;
}

thead{
    background-color: #f8f9fa;
    height: 55px;
}

tbody{
    border-top: 1.2px solid rgb(92, 91, 91);
}

.input-search{
    float: right;
}

.input-group-text{
    background-color: #07a7e3;
}

.icon-search{
    color: rgb(250, 250, 250);
}

th.manage{
    font-weight: 500;
    font-size: 31px;
    background-color: #FFB63F;
    font-family: 'Lora';
    letter-spacing: 1.5px;
    font-weight: 800;
    color: white;
    text-align: center;
}

td button{
    width: 35px;
    height: 35px;
    border-radius: 50px;
    border: 0;
}

button i{
    color: white;
}

button.edit-icon{
    background-color: rgb(82, 172, 82);
}


button.delete-icon{
    background-color: #f85742;
}
