<div class="content">
  <div class="table-product">
    <button routerLink="/addProduct" type="button" class="btn btn-primary btn-add-product btn-new">
      <i class="bi bi-plus"></i>
      New
    </button>
    <div class="input-search">
      <div class="input-group w-90">
        <span class="input-group-text" id="basic-addon1">
          <i class="bi bi-search icon-search"></i>
        </span>
        <input (input)="onInputChange($event)" type="text" class="form-control" placeholder="Procure seu produto aqui" aria-label="Input group example" aria-describedby="basic-addon1">
      </div>
    </div>
    <table class="table">
        <thead>
          <tr>
            <th class="manage" colspan="9">Manage Products</th> 
          </tr>
        </thead>
        <thead>
          <tr>
            <th scope="col">Description</th>
            <th scope="col">Price (R$)</th>
            <th scope="col">Category</th>
            <th scope="col" colspan="3">Date</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr *ngFor="let product of products">
            <td>{{product.description}}</td>
            <td>{{product.price}}</td>
            <td>{{product.category}}</td>
            <td>{{product.date}}</td>
            <td>
              <button class="edit-icon" routerLink="/detail/{{product.id}}">
                <i class="bi bi-pencil-fill"></i>
              </button>
            </td>
            <td>
              <button class="delete-icon" (click)="delete(product.id)">
                <i class="bi bi-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
</div>